@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #0a0a0a;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
  }

  select option {
    background-color: #111;
    color: white;
  }
}

@layer utilities {
  .w-4\.5 {
    width: 1.125rem;
  }
  .h-4\.5 {
    height: 1.125rem;
  }
}
